.my-5 {
  margin-top: 3rem!important;
  margin-bottom: 3rem!important;
}

.mt-2 {
  margin-top: .5rem!important;
}

.mt-4 {
  margin-top: 1.5rem!important;
}

.mt-5 {
  margin-top: 3rem!important;
}

.mb-0 {
  margin-bottom: 0!important;
}

.mb-2 {
  margin-bottom: .5rem!important;
}

.mb-4 {
  margin-bottom: 1.5rem!important;
}

.mb-5 {
  margin-bottom: 3rem!important;
}

.mb-6 {
  margin-bottom: 4.5rem !important;
}

.ms-auto {
  margin-left: auto!important;
}

@media (min-width:992px) {
  .mb-lg-0 {
    margin-bottom: 0!important;
  }
}

